asgiref==3.2.7
certifi==2019.9.11
chardet==3.0.4
dj-database-url==0.5.0
Django==3.0.5
django-heroku==0.3.1
django-template-maths==0.2.0
gunicorn==20.0.4
heroku==0.1.4
idna==2.8
mysqlclient==1.4.6
npm==0.1.1
optional-django==0.1.0
pbr==5.4.3
Pillow==7.1.2
psycopg2==2.8.5
pysolr==3.8.1
python-dateutil==1.5
pytz==2020.1
requests==2.22.0
six==1.13.0
sqlparse==0.3.1
stevedore==1.31.0
urllib3==1.25.7
virtualenv==16.7.7
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.5
whitenoise==5.0.1
