<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <section class="main-content bg-dark text-white py-4 mb-5">
        <div class="container bg-dark text-white">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>About Us</h2>
                                            <small>Please find the details below</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 ">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body bg-dark">
                                  <p>We have made this website so writing manually points table and keeping scorecard details of all matches was very hardcore for us. As having a background of programming we thought of automated points table shifting, net run rate calculator, and match summary.
    Moreover, we have created team profiles and fixtures by which every player can know whos teams are there and with whom they have to play. Finally, it displays everything by just inserting the details of the scorecard. We assume that our beloved friends will love it.</p>


    <p>Last but not least, this web app is with love from Dhruvil and Yashraj.</p>

    <p>Thank you.</p>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </<section>
  </body>
</html>

<!------ Include the above in your HEAD tag ---------->
